html, body {
    height: 100%;
}

.body {
    width: 1000px;
    margin: 75px auto 100px auto;
}

.header {
    width: 97%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 0 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}

.footer {
    width: 90%;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.title-body {
    display: flex;
    border-bottom: 2px solid blue;
    width: 100%;
    margin: 20px 0;
}

.mais-campos {
    height: 30px!important;
    width: 30px!important;
    padding: 0!important;
    border-radius: 20px!important;
    margin: auto 2px!important;
}

.title {
    font-size: 20px;
    padding: 5px 2px;
    margin: 0 10px;
}


label, input, select, textarea {
    width: 90%;
    margin: 10px;
}

input, select, textarea {
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 10px;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #00c4ff;
}

.form-control {
    width: 100%;
}

.formacao {
    display: flex;
    width: 97%;
}

.formacao .anos {
    max-width: 15%;
    margin: 0 5px;
}

.formacao .desc {
    width: 70%;
    margin: 0 5px;
}

.DDMMAAAA {
    display: flex;
    width: 50%;
}

.DDMMAAAA label {
    width: auto;
    margin: auto 0;
}

.DDMMAAAA .datas label {
    font-size: 10px;
}

.DDMMAAAA .datas select {
    margin: 0 auto;
}

.datas-DDMMAAAA {
    display: flex;
}

@media screen and (max-width: 1000px) {
    .body {
        width: 98%;
    }
}